.wrapper {
  width: 100%;
  padding-bottom: 48px;
  background-color: var(--whiteBackground);
}

.pageTitle {
  color: black;
  font-size: 42px;
  font-family: var(--title);
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
}

.serviceRow {
  margin-top: 24px;
}
.detailsDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0px;
  flex-direction: column;
}
