.cardWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.detailsDiv {
  background-color: var(--purple);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 18px;
  height: (calc(100% - 130px));
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.cardTitle {
  color: black;
  font-size: 20px;
  font-family: var(--title);
  font-weight: 700;
  margin-bottom: 0;
}
.cardDate {
  color: var(--orange);
  font-size: 14px;
  font-family: var(--text);
  font-weight: 400;
}
.text {
  color: black;
  font-size: 14px;
  font-family: var(--text);
  font-weight: 300;
}
.link {
  color: var(--orange);
  font-size: 14px;
  font-weight: 300;
  font-family: var(--text);
  text-decoration: none;
  width: fit-content;
}
.link:hover {
  text-decoration: underline;
}
.image {
  width: auto;
  height: 130px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
