.aboutUs {
  margin-top: 64px;
}
.infoCol {
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  padding-bottom: 5%;
  height: fit-content;
  @media (max-width: 991px) {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.image {
  object-fit: cover;
  width: 100%;
  max-height: 350px;
}
