.card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 100%;
}

.cardTitle {
  color: black;
  font-size: 15px;
  font-family: var(--title);
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.card:hover {
  text-decoration: underline 1px var(--orange);
}
.cardDate {
  color: var(--orange);
  font-size: 12px;
  font-family: var(--text);
  font-weight: 400;
}
